body {
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

header, .realHeader {
    font-size: 2em;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 35, 100);
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    position: static;
    z-index: 1;
    max-height: 152px;
}
.realHeader {position:fixed;}

h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: white;
}

header a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}

main {
    margin-top: 152px; /* Prevents contend from being hidden*/
    padding-top: 0;
}

nav {
    margin: 0;
    padding: 0;
    background-color: red;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li a {
    font-family:'Courier New', Courier, monospace;
    display: block;
    padding: 0;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgb(37, 37, 37);
    border-bottom: 1px solid rgb(154, 154, 154);
    background-size: cover;
    background-position: center;
}




/* stroke text from ChatGPT-3.5 */
/* Apply to as class */
.stroked-text {
    color: rgb(255, 255, 255); /* Set the text color */
    -webkit-text-stroke: 2px black; /* For Safari/Chrome */
    text-stroke: 2px black; /* For Firefox */
    font-size: 2em; /* Set the font size */
  }


/* Hamburger stuff*/
.title {
    margin: 0;
    padding: 0;
    float: center;
}

.menu-toggle {
    cursor: pointer;
    color: white;
    position: fixed;
    right: 10px;
    top: 70px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    max-height: 152px;

}

#myMenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Add transition property */
}


#myMenu.visible {
    max-height: 500px; /* Adjust the maximum height according to your content */
}
