@font-face {
    font-family: 'Minecraft';
    src: url("../fonts/MinecraftRegular.otf") format("opentype");
}

@font-face {
    font-family: 'Minecraft Bold';
    font-weight: bold;
    src: url("../fonts/MinecraftBold.otf") format("opentype");
}
@font-face {
    font-family: 'Minecraft Bold Italic';
    font-weight: Italic;
    src: url("../fonts/MinecraftBoldItalic.otf") format("opentype");
}
@font-face {
    font-family: 'Minecraft Italic';
    font-weight: Italic;
    src: url("../fonts/MinecraftItalic.otf") format("opentype");
}

/* -------------------- Font end -----------------------------*/

header, .realHeader {background-color: rgb(17, 2, 83);}
h1 {font-family: 'Minecraft Bold';color:white;}

.navButton {
    font-family: 'Minecraft';
    background-image: url('../_images/button.png');
    background-size: 100% 100%;
    display: flex;
    padding: 32px 0;
    margin: 0;
    position: static;
    border: none;
    justify-content: center;
    vertical-align: center;
    font-size: 5em;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    vertical-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

.pageTitle {
    background-image: url('../_images/oak_log.jpg');
    background-repeat: repeat;
    background-size: 10%;
    width: 100%;
    color: white;
    font-size: 4em;
    padding: 1em 0;
}

.base h3 {
    font-size: 4em;
    padding: 0.5em 0;
    margin: 0;
    background-color: rgb(0, 35, 100);
    color: white;
    width: 100%;
}

/*Curved Border around each players base*/
.base h3 {border-top-left-radius: 10px; border-top-right-radius: 10px;}
.base img {border-bottom-left-radius: 10px;border-bottom-left-radius: 10px;}


.base {
    background-image: url('../_images/oak_plank.jpg');
    background-repeat: repeat;
    background-size: 25% 25%;
    display: block;
    text-align: center;
    margin: 0;
    padding: 1em;
}