html {margin: 0;padding: 0;}
body {margin: 0;padding: 0;}

/*----------------------------------------------------------------*/
/*---------------------------- Header ----------------------------*/
/*----------------------------------------------------------------*/
.top {
    position: fixed;
    width: 100%;
    top: 0;
}

header {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: flex-end;

    background: rgb(41,117,48);
    background: linear-gradient(0deg, rgba(41,117,48,1) 0%, rgba(86,172,72,1) 100%);


}

header > .title {
    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer;
    position: relative;
    width: 100%;
}

header > .title > img {
    max-width: 50px;
    padding: 10px 20px;
    display: inline;
}

header > .menu-toggle {
    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer;
    position: relative;
}

header > .menu-toggle > img {
    max-width: 40px;
    padding: 20px;
    display: block;
}

nav {
    margin: 0;
    padding: 0;
}

nav > ul {
    /* Margin, Padding & Border */
    margin: 0;
    margin-top: 10px;
    padding: 0;
    /* Text */
    text-align: center;
    border-bottom: 2px solid black;
}

nav > ul > li {
    /* Margin, Padding & Border */
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    /* Appearance */
    overflow: hidden;
    /* Text */
    list-style: none;
}

nav > ul > li > a {
    /* Margin, Padding & Border */
    padding: 0 30px 0 0;
    /* Appearance*/
    display: block;
    background-size: cover;
    background-position: center;
    /* Text */
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
}

/*----------------------------------------------------------------*/
/*---------------------------- Main ------------------------------*/
/*----------------------------------------------------------------*/
main {
    /* Margin, Padding & Border */
    margin-top: 100px; /* Prevents contend from being hidden*/
    padding-top: 0;;
}

.noselect { /*  */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#myMenu {
    /* Position & Size */
    max-height: 0;
    /* Appearance*/
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add transition property */
}

#myMenu.visible {
    max-height: 1000px; /* Adjust the maximum height according to your content */
}   

.box {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add transition property */
}

.visible {
    max-height: 1000px; /* Adjust the maximum height according to your content */
}

/*----------------------------------------------------------------*/
/*------------------- Background Color Changes -------------------*/
/*----------------------------------------------------------------*/

/*body            {background-color: rgb(33, 42, 18)}*/
header, footer, body  {background-color: rgb(78, 158, 66);}
nav             {background-color: rgb(0, 31, 8);}



/*----------------------------------------------------------------*/
/*---------------------- Text Color Changes ----------------------*/
/*----------------------------------------------------------------*/
.title h1       {color: white}  /* arnoringi.is     */
.title h2       {color: white}  /* undertext        */
header          {color: white}  /* Nav button       */
footer          {color: white}  /* footer button    */
nav li a        {color: white}  /* Navigation text  */



