
body {
    margin-top: 83px;
}



.bookcase > .basicBox {
    background-color:red;
}

.bookcase > .basicBox > img {
    width: 10%;
}

.bookcase {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Add transition property */
}

.visible
{max-height: 5000px;}