@font-face {
    font-family: 'Minecraft';
    src: url("fonts/MinecraftRegular.otf") format("opentype");
}

@font-face {
    font-family: 'Minecraft Bold';
    font-weight: bold;
    src: url("fonts/MinecraftBold.otf") format("opentype");
}
@font-face {
    font-family: 'Minecraft Bold Italic';
    font-weight: Italic;
    src: url("fonts/MinecraftBoldItalic.otf") format("opentype");
}
@font-face {
    font-family: 'Minecraft Italic';
    font-weight: Italic;
    src: url("fonts/MinecraftItalic.otf") format("opentype");
}

/* -------------------- Font end -----------------------------*/

header, .realHeader {background-color: rgb(82, 164, 53);}
h1 {font-family: 'Minecraft Bold';}

.navButton {
    font-family: 'Minecraft';
    background-image: url('img/button.png');
    background-size: 100% 100%;
    display: flex;
    padding: 0;
    margin: 0;
    position: static;
    border: none;
    justify-content: center;
    vertical-align: center;
    font-size: 5em;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    vertical-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}
