:root {
    --vidgerdMaxHeight: 400px;
    --myBlue: #68cced;
    --backgroundBlue: #b5e5f5;
    --bannerHeight: 1em;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--backgroundBlue);
    padding: 0;
    margin: 0;
}

header {
    border: 0 solid black;
    background-color: var(--myBlue);
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}

header h1 {margin-left: 2em; margin-top: .5em; float: left;}

h1 a {text-decoration: 0;color:black;}

nav {border: 0 solid black; overflow:hidden;}

main {
    border: 0 solid black;
    display: block;
    overflow: hidden;
    margin-top: 55px;
}

h3, h2, h1 {margin: 8px; text-align: center;}

nav h1 {
    margin-top: 14px;
}

h2 {border-bottom: 1px solid black;}

p {margin: 8px;}

ul {
    margin:0;
    padding:0;
    float: right;
    margin-right: 2em;
}

li {
    float: right;
    list-style: none;
    padding: 0;
    text-align: center;
}

li > a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 0.5em;
    color: black;
    font-size: 1.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span {
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--backgroundBlue);
}

.book > .frame {
    background-color: transparent;
}

footer {
    float: left;
    width: 100%;
    background-color: var(--myBlue);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: 4px;
}

.grid-item {
    padding: 0;
    margin: 0;
    background-color: white;
}

.grid-item p {
    float: right;
    padding: 0;
    margin: 10px;
    margin-top: 0;
}

.grid-item img {
    float: left;
    width: 50%;
    padding: 0;
    margin: 10px 0 0 0;
}

.text {
    width: 50%;
    float: right;
    border: none;
    margin: 0;
    padding: 0;
}

