:root {
    --vidgerdMaxHeight: 400px;
    --myBlue: #68cced;
    --backgroundBlue: #b5e5f5;
    --bannerHeight: 1em;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--backgroundBlue);
    padding: 0;
    margin: 0;
}

header {
    border: 0 solid black;
    background-color: var(--myBlue);
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}

header h1 {margin-left: 2em; margin-top: .5em; float: left;}

h1 a {text-decoration: 0;color:black;}

nav {border: 0 solid black;overflow:hidden;}

main {
    border: 0 solid black;
    display: block;
    overflow: hidden;
    margin-top: 3.4em;
}

.FerningsHlutur {
    /*border: 1px solid black;*/
    /*background-color: var(--myBlue);*/
    background-color: white;
    border-radius: 10px;
    width: 99.4%;
    float: left;
    max-height: var(--vidgerdMaxHeight);
    padding: 0;
    overflow: hidden;
    margin: 2px;
}

.FerningsHlutur img {
    width: 100%;
    height: var(--vidgerdMaxHeight);
    object-fit: contain;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Myndalisti {
    /*border: 1px solid black;*/
    background-color: var(--myBlue);
    border-radius: 10px;
    width: 99.4%;
    float: left;
    max-height: auto;
    padding: 0;
    overflow: hidden;
    margin: 2px;
}

.Myndalisti img {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3, h2, h1 {margin: 8px; text-align: center;}

h2 {border-bottom: 1px solid black;}

p {margin: 8px;}

.Myndalisti > .frame {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    float: right;
    background-color: black;
}

.FerningsHlutur > .frame {
    width: 50%;
    margin: 0;
    padding: 0;
    border: none;
    float: right;
    background-color: white;

}

.text {
    width: 50%;
    margin: 0;
    padding: 0;
    border: none;
    float: left;
}

ul {
    margin:0;
    padding:0;
    width: 66%;
    float: right;
}

li {
    float: left;
    width: 24.55%;
    list-style: none;
    padding: 0;
    margin: 0 2px;
    text-align: center;
    /*height: 40px;*/
}

li > a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 0.5em;
    color: black;
    font-size: 1.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color: var(--backgroundBlue);
}

.halfur {
    width: 49.2%;
}

.einnthridji {
    width: 32.7%;
}

.book > .frame {
    background-color: transparent;
}

footer {
    float: left;
    width: 100%;
    background-color: var(--myBlue);
}