:root {
    --headerBlue: #68cced;
    --backgroundBlue: #b5e5f5;
    --headerGreen: #19e66e;
    --backgroundGreen: #7ad67a;
}

body {
    background-color: var(--backgroundBlue);
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--headerBlue);
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

nav {
    align-items: right;
    margin: 0;
    padding: 0;
    width:100%;
}
header h1 {
    margin-left: 1em;
}
h1 a {
    text-decoration: none;
    color:black;
    white-space: nowrap;
}

main {
    display: block;
    overflow: hidden;
    margin-top: 84px;
}

h2 {
    border-bottom: 1px solid black;
    text-align: center;
}
main h1 {
    text-align: center;
    background-color:white;
    margin: 0 4px;
    padding: 0.5em;
}

p {margin: 8px;}

ul {
    margin:0;
    padding:0;
    float: right;
    margin-right: 2em;
}

li {
    float: right;
    list-style: none;
    padding: 0;
    text-align: center;
}

li > a {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 0.5em;
    color: black;
    font-size: 1.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span {
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--backgroundBlue);
}

.book > .frame {
    background-color: transparent;
}

footer {
    float: left;
    width: 100%;
    background-color: var(--headerBlue);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: 4px;
}

.grid-item {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: white;
}

.grid-item h4 {
    margin: 0 10px;
}

.grid-item p {
    padding: 0;
    margin: 10px;
    margin-top: 0;
}

.grid-item img {
    width: 50%;
    padding: 0;
    margin:  0;
}

.text {
    width: 50%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.bokasafn {
    background-color: black;
}

.bokasafn header, .bokasafn footer{
    background-color: var(--headerGreen);
}