.myInfoText {
    /* Margin, Padding & Border */
    margin: 16px auto;
    padding: 0;
    /* Position & Size */
    max-width: 1280px;
    display: block;
    /* Appearance*/
    /* Text */
}
.myInfo {
    /* Margin, Padding & Border */
    margin: 0;
    padding: 0;
    /* Position & Size */
    display: block;
    /* Text */
    text-align: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.myInfo img {
    /* Margin, Padding & Border */
    margin: 16px auto;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;
    /* Position & Size */
    width: 300px;
    display: block;
    /* Appearance*/
    /* Text */
}
.myInfo h1 {
    /* Margin, Padding & Border */
    margin: 0;
    padding: 0;
    /* Position & Size */
    /* Appearance*/
    /* Text */
    text-align: center;
    font-size: 4rem;
}
.myInfo ul, p, h3 {
    /* Margin, Padding & Border */
    margin: 0 16px;
    padding: 0;
    /* Position & Size */
    /* Appearance*/
    /* Text */
    list-style-type: none;
}

.myInfo li {
    /* Margin, Padding & Border */
    margin: 0;
    padding: 0;
    /* Position & Size */
    /* Appearance*/
    /* Text */
}



/*----------- Debug mode -----------*/
/*
.myInfo {background-color: yellow;}
.myInfoText{background-color: magenta;}
.myInfo h1 {background-color: red;}
.myInfo ul{background-color: blue;}
.myInfo h3{background-color: green;}
.myInfo p{background-color: cyan;}/**/
