body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.menu-toggle {
    cursor: pointer;
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#myMenu {
    max-height: 0;
    overflow: hidden;
    background-color: #333;
    transition: max-height 0.5s ease; /* Add transition property */
}

#myMenu.visible {
    max-height: 500px; /* Adjust the maximum height according to your content */
}

#myMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#myMenu li {
    padding: 15px;
    text-align: center;
}

#myMenu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
