body {
  padding: 0;
  margin: 0;
  background-color:red;

  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(0,212,255,1) 100%);
  
  /* Width and height of PSVita Browser */
  width: 896px;
  /*height: 512px;*/
}
.grid {
  overflow: hidden;
}

.imageBox {
  margin: 4px;
  /*max-width: 23.0%; /*4 columns*/
  /*max-width: 31.3%; /*3 columns*/
    max-width: 47%;   /*2 columns*/
  float: left;
  border: 4px solid white;
  border-radius:3px;
}

img {
  width: 100%;
  
  display: block;
}


.text {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
}

h1 {
  border-radius: 10px;
  display: inline;
}